.second-div{
  display: flex;
}

.sidepane{
  width:10%;
  height: auto;
  border:1px solid black;
  margin-right: 10px;
}

.card-div{
padding: 10px;
}

.card-inn{
  display: flex;
  justify-content: space-around;
}

.card{
  border:1px solid green;
  padding:'5px 15px';
  text-align: center;
  margin:0px 5px;
}

.graphs{
  
  border:1px solid red;
  width: 100%;
  margin: 5% 80%;
  padding: 10px;
}

.bar-div{
  width: 100%;
  padding: 10px;
}